.group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    input[type=text] {
        padding: 10px;
        border: 0;
        box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    }

    div {
        display: inline-block;
        margin: 20px 10px;
    }

    .add-expenses-button:after {
        content: '\002D'
    }

    .add-incomes-button:after {
        content: '\002B'
    }
}