.group {
    display: flex;

    .add-container {
        margin: 0 auto;

        form {
            display: inline-block;
            margin: 10px 10px;
            font-size: 18px;
            border-radius: 0;
        }

        input {
            border: 1px solid lightgray;
        }

        input[type=submit] {
            background-color: #C8DCB8;
            border: 1px solid transparent;
            color: white;
        }

        .add-button:hover {
            cursor: pointer;
        }
    }
}